body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1464px;
  top:120px;
  width:409px;
  height:84px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:84px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:30px;
  width:1334px;
  height:750px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
}
#u3 {
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:187px;
  top:148px;
  width:1000px;
  height:515px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:515px;
}
#u5 {
  position:absolute;
  left:2px;
  top:250px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:719px;
  top:620px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:838px;
  top:620px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:968px;
  top:620px;
  width:193px;
  height:28px;
  text-decoration:underline;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1127px;
  top:138px;
  width:60px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:293px;
  top:298px;
  width:130px;
  height:140px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
}
#u15 {
  position:absolute;
  left:2px;
  top:62px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:448px;
  width:97px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:290px;
  top:486px;
  width:136px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:490px;
  top:280px;
  width:97px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:627px;
  top:280px;
  width:163px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:490px;
  top:425px;
  width:129px;
  height:74px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:74px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:760px;
  top:425px;
  width:97px;
  height:74px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:74px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1007px;
  top:425px;
  width:81px;
  height:74px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:74px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:490px;
  top:390px;
  width:690px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u31 {
  position:absolute;
  left:490px;
  top:526px;
  width:129px;
  height:74px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:74px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:290px;
  top:533px;
  width:140px;
  height:60px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1464px;
  top:240px;
  width:140px;
  height:60px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1464px;
  top:352px;
  width:479px;
  height:219px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:219px;
}
#u38 {
  position:absolute;
  left:2px;
  top:102px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1631px;
  top:240px;
  width:313px;
  height:56px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:56px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
