body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1334px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:510px;
  width:280px;
  height:80px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:276px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:820px;
  top:510px;
  width:290px;
  height:80px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:286px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1223px;
  top:710px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1090px;
  top:710px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:30px;
  top:710px;
  width:104px;
  height:28px;
  text-decoration:underline;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:800px;
  width:1334px;
  height:750px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
}
#u13 {
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:210px;
  top:1280px;
  width:320px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:820px;
  top:1280px;
  width:320px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1223px;
  top:1500px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1090px;
  top:1500px;
  width:97px;
  height:28px;
  text-decoration:underline;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:1500px;
  width:104px;
  height:28px;
  text-decoration:underline;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:170px;
  top:930px;
  width:1017px;
  height:490px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:490px;
}
#u25 {
  position:absolute;
  left:2px;
  top:237px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:170px;
  top:930px;
  width:1017px;
  height:80px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:32px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1120px;
  top:930px;
  width:67px;
  height:80px;
  font-size:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:602px;
  top:952px;
  width:129px;
  height:37px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:210px;
  top:1040px;
  width:930px;
  height:260px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:260px;
}
#u33 {
  position:absolute;
  left:2px;
  top:122px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:224px;
  top:1330px;
  width:529px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
