body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:16px;
  width:698px;
  height:434px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:434px;
}
#u1 {
  position:absolute;
  left:2px;
  top:209px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:92px;
  width:409px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:740px;
  top:140px;
  width:100px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:850px;
  top:148px;
  width:181px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
