body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:121px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:530px;
  width:121px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:76px;
  top:40px;
  width:834px;
  height:470px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:470px;
}
#u5 {
  position:absolute;
  left:2px;
  top:227px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:76px;
  top:568px;
  width:834px;
  height:469px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:469px;
}
#u7 {
  position:absolute;
  left:2px;
  top:226px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:950px;
  top:568px;
  width:834px;
  height:472px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:472px;
}
#u9 {
  position:absolute;
  left:2px;
  top:228px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1047px;
  top:776px;
  width:161px;
  height:185px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:185px;
}
#u11 {
  position:absolute;
  left:2px;
  top:84px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1208px;
  top:776px;
  width:161px;
  height:185px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:185px;
}
#u13 {
  position:absolute;
  left:2px;
  top:84px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1368px;
  top:776px;
  width:161px;
  height:185px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:185px;
}
#u15 {
  position:absolute;
  left:2px;
  top:84px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1529px;
  top:776px;
  width:161px;
  height:185px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:185px;
}
#u17 {
  position:absolute;
  left:2px;
  top:84px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1080px;
  top:786px;
  width:100px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1047px;
  top:776px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1204px;
  top:776px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1367px;
  top:776px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1527px;
  top:776px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1237px;
  top:787px;
  width:100px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1397px;
  top:787px;
  width:100px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1557px;
  top:787px;
  width:100px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1068px;
  top:896px;
  width:125px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1224px;
  top:897px;
  width:125px;
  height:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1384px;
  top:897px;
  width:125px;
  height:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1544px;
  top:897px;
  width:125px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1101px;
  top:924px;
  width:59px;
  height:26px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1268px;
  top:928px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#FF9933;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1415px;
  top:930px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1575px;
  top:930px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1047px;
  top:600px;
  width:643px;
  height:174px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:174px;
}
#u51 {
  position:absolute;
  left:2px;
  top:79px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:960px;
  top:1072px;
  width:43px;
  height:38px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u53 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1024px;
  top:1082px;
  width:97px;
  height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1048px;
  top:613px;
  width:643px;
  height:161px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:161px;
}
#u57 {
  position:absolute;
  left:2px;
  top:72px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1268px;
  top:971px;
  width:202px;
  height:60px;
  font-size:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:960px;
  top:582px;
  width:43px;
  height:41px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1066px;
  top:586px;
  width:602px;
  height:34px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:34px;
}
#u63 {
  position:absolute;
  left:2px;
  top:9px;
  width:598px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:250px;
  top:330px;
  width:100px;
  height:100px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:170px;
  top:200px;
  width:100px;
  height:100px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u67 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:380px;
  top:70px;
  width:100px;
  height:100px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:590px;
  top:190px;
  width:100px;
  height:100px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:983px;
  top:70px;
  width:145px;
  height:28px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:983px;
  top:108px;
  width:124px;
  height:48px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:48px;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:983px;
  top:166px;
  width:202px;
  height:60px;
  font-size:28px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
