body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:606px;
  height:341px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:341px;
}
#u1 {
  position:absolute;
  left:2px;
  top:162px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:644px;
  top:252px;
  width:217px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
